!!!5
html
    head
        title NodeWOL - A simple wake-on-lan-tool
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        script(src='/js/jquery-1.8.3.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/js/underscore-min.js')
        script(src='/js/raphael-min.js')
        script(src='/js/backbone-min.js')
        script(src='/backbone/models/clock.js')
        script(src='/backbone/models/device.js')
        script(src='/backbone/models/alarm.js')
        script(src='/backbone/views/clock.js')
        script(src='/backbone/views/device.js')
        script(src='/backbone/views/alarm.js')
        script(src='/js/utils.js')
        script(src='/js/nodewol.js')

        link(rel='stylesheet', href='/css/colaborate/stylesheet.css')
        link(rel='stylesheet', href='/css/nodewol.css')

        // HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
            script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    body
        .navbar.navbar-static-top.navbar-inverse
            .navbar-inner
                a.brand Nodewol
                ul.nav
                    li 
                        a A simple wake-on-lan tool
        .container-fluid
            .row-fluid.visible-desktop
                .span12.spacer
            .row-fluid
                .span4.center
                    block content
                .span4.center
                    block clock
                .span4.center
                    a.btn.btn-large.btn-inverse#add-alarm <i class='icon-ok icon-white'></i> Add an alarm
                    br
                    div.well#alarm-container
            .row-fluid.visible-desktop
                .span12.spacer

        .navbar.navbar-fixed-bottom
            .navbar-inner
                ul.nav
                    li
                        a Running on node, underscore, backbone, Raphaël, jQuery and Bootstrap.
                ul.nav.pull-right
                    li
                        a(href='http://www.raspberrypi.org/', title='Raspberry Pi is a trademark of the Raspberry Pi Foundation.', target='_blank') For use with Raspberry Pi &reg; 
                            img(src='/img/raspi.png')
