body {
    background-color: #f9f9f9
}

div {
    font-family: 'ColaborateLightRegular', Helvetica, Arial, sans-serif;
}

div.hero-unit {
    background-color: #333 !important
    color: #eee !important
}

h1 {
    margin-bottom: 1em;
}

.spacer {
    height: 60px;
}

.accordion-body input.edit {
    display: none;
}

.accordion-body input.edit {
    width: 100%;
}

.editing a.edit {
    display: none;
}

.editing input.edit {
    display: inline;
}

.clear {
    clear: both;
}

.dropdown-menu img {
    height: 48px;
}

.dropdown-menu li {
    float: left;
}

.dropdown-menu {
    padding: 5px 5px;
}

.dropdown-toggle > img {
    padding-bottom: 40px;
}

#add-alarm {
    margin-top: 12px;
    margin-bottom: 34px;
}

a.dropdown-toggle {
    float: right;
    line-height: 160px;
    height: 160px;
}

.alert-dark {
    color: #eee;
    background-color: #444;
    border-color: #111;
    text-shadow: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert-dark button {
    color: #fff;
}

#devlist .btn {
    margin-bottom: 1em;
}

#devlist table {
    width: 50%;
}

#devlist table td {
    border-top: 0px solid #444;
}

#devlist, #alarm-container {
    width: 100%;
    max-width: 350px;
    display: inline-block;
}

div.accordion-heading, .th {
    background-image: linear-gradient(bottom, rgb(22,22,22) 33%, rgb(44,44,44) 66%);
    background-image: -o-linear-gradient(bottom, rgb(22,22,22) 33%, rgb(44,44,44) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(22,22,22) 33%, rgb(44,44,44) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(22,22,22) 33%, rgb(44,44,44) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(22,22,22) 33%, rgb(44,44,44) 66%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(22,22,22)),
        color-stop(0.66, rgb(44,44,44))
    );

    color: #eee;
}

div.accordion-heading a {
    color: #eee;
}

.center {
    text-align: center;
}

div.accordion-body {
    text-align: left;
    color: #555;
    background-image: linear-gradient(bottom, rgb(204,204,204) 33%, rgb(238,238,238) 66%);
    background-image: -o-linear-gradient(bottom, rgb(204,204,204) 33%, rgb(238,238,238) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 33%, rgb(238,238,238) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 33%, rgb(238,238,238) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 33%, rgb(238,238,238) 66%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(204,204,204)),
        color-stop(0.66, rgb(238,238,238))
    );
}

/*
tspan {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
*/
